* {
    margin: 0;
    padding: 0;
    font-size: .8rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

.app {
    width: 750px;
    margin: 0 auto;
    min-height: 400px;
    padding: 1rem 0rem;
    overflow: hidden;
    overflow-y: auto;
    background: url('../images/bg1.png')no-repeat center top/100%;
    text-align: center;
    padding-bottom: 65px;
}

.swi {
    margin-bottom: 3rem;
    padding-top: 0rem;
    padding-bottom: 70px;
}

.top1 {
  /*  width:80% !important;*/
  margin-bottom: 27rem;
  /* padding-top: 120px; */
}

.image {
    width: 100%;
    text-align: center;
    position: relative;
   
}
.hand {
    position: absolute;
    right: 43%;
    top: 83%;
    display: flex;
    z-index: 4;

}
.img_Bottom{
    margin-bottom: 3rem !important;
}
    .image img {
        width: 100%;
        margin-top: -20px;
    }

.btn {
    position: absolute;
    /* justify-items: center; */
    right: 30%;
    top: 63%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .btn img {
        width: 15rem;
    }

.top img {
    /* width: 65%; */
    display: block;
    /* padding-top: 18rem; */
    right: 10%;
    margin-left: 14%;
    margin: 0 auto;
    margin-top: -1rem;
}

.look {
     /*display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 13rem;
    /* margin: 0; */
    position: absolute;
    z-index: 0;
    bottom: -50px;
    right: 34%;
    cursor: pointer;
}

    .look img {
        width: 100%;
    }

.foot {
    position: fixed;
    width: 750px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

    .foot img {
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
    }

.mask {
    position: fixed;
    width: 750px;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background: rgba(0,0,0,.5);
    display: none;
    z-index: 1;
}

.mask1 {
    position: fixed;
    width: 750px;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background: rgba(0,0,0,.5);
    display: none;
    z-index: 1;
}

    .mask1.active {
        display: block;
        z-index: 5;
    }

    .mask1 img {
        width: 90%;
        margin-top: 10%;
    }

.mask.active {
    display: block;
}

.mask img {
    width: 90%;
    margin-top: 10%;
}

.swi {
    position: relative;
    clear:both;
}

.yhvip {
    margin-top: -90px;
    margin-bottom: 6rem;
}

.swiper {
    position: absolute;
    width: 80%;
    top: 46%;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

/* .swiper-wrapper {
    overflow: hidden;
} */

.swiper-button-prev, .swiper-button-next {
    opacity: 0;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 680px;
    padding: 20px;
    display: none; /* Initially hidden */
    z-index: 1000;
}
.dialog img {
    cursor: pointer;
}
.dialog.active {
    display: flex; /* Display modal when active */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    display: none; /* Initially hidden */
}
    .dialog div {
        position: relative;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dialog i {
        position: absolute;
        width: 2rem;
        display: inline-block;
        top: 3rem;
        height: 2rem;
        right: 1rem;
    }

    .dialog em {
        width: 50%;
        display: inline-block;
        margin-top: -100px;
    }

        .dialog em img {
            width: 100%;
        }

    .dialog i img {
        width: 100%;
    }

    .dialog a img {
        width: 100%;
    }

.swiper img {
    width: 100%;
}

.kf {
    position: fixed;
    top: 58%;
    right: 0;
    z-index: 999;
    width: 6rem;
}

    .kf img {
        width: 100%;
    }

@media screen and (max-width:649px) {
    .app, .foot, .mask, .mask1, .dialog {
        width: 100%;
    }
    .dialog {
        min-width: 100%;
    }
}

#goUrl2 .site {
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
}
.site-image img{
    max-width:100%;
    min-width:100%;
}

.site {
    margin-bottom: 5px;
   float:left;
   width:100%;
}
.site .row {
    float: left;
    background-image: url(../images/bg_10a.png);
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 422 / 60;
    width: 70%;
    margin-bottom: -10px;
}
.site .enter {
    width: 30%;
    float: right;
    aspect-ratio: 120 / 50;
}
.site .enter img{
    height:100%;
}

    .site .s-left {
        width: 32%;
        height: 100%;
        padding-top: 5%;
        font-size: 0.9rem;
        font-weight:bold;
        color: white;
    }
    .site .speed {
        width: 1%;
        height: 100%;
        padding-top: 5.5%;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 10px;
    }
    .site .site-address {
        width: 60%;
        height: 100%;
        padding-top: 4.5%;
        font-size: 1rem;
        font-weight:bold;
    }

.site .row div {
    float: left;
}

#beatingButton {
    width: 100%;
    /* position: absolute;
    top: 59%;
    right: 0; */
    background-color: #3498db00;
    border: none;
    border-radius: 0%;
    cursor: pointer;
    animation: beat 1s infinite alternate;
}

#beatingButton2 {
    position: absolute;
    right: 0;
    width: 30%;
    background-color: #3498db00;
    border: none;
    border-radius: 0%;
    bottom: 26px;
    cursor: pointer;
}

  @keyframes beat {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.75);
    }
  }

  .beige { 
   /* background-color: #fff0c3; */
    margin-bottom: 8rem;
    margin-top: -40px;
  }


  .TablePop {
    height: 100%;
    margin-top: 5px !important;
    /* top: 10px; */
    margin-top: 10px;
    width: 82% !important;

  }

  

  .fy_btn {
    
    position: absolute;
    z-index: 3 !important;
    /* margin-top: 5px !important; */
    top: 36px;
    left: 510px;

  } 

  
